body {
    padding-top: 50px;
    background: url("../images/bg.jpg") repeat;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background: url("../images/jumb_bg.png") no-repeat center center;
    background-size: cover;
    color: black;
    border-radius: 0px 0px 10px 10px !important;
    padding-bottom: 75px;
}

    .jumbotron h1 {
        background: rgba(255,255,255,0.8);
        color: rgb(66,139,202);
        border-radius: 10px !important;
        margin-left: -10000px;
        margin-right: 10000px;
        transition: 1s ease-out;
    }

    .jumbotron .lead {
        background: rgba(255,255,255,0.8);
        color: rgb(66,139,202);
        border-radius: 10px !important;
        margin-left: -10000px;
        margin-right: 10000px;
        transition: 1s ease-out;
    }

.body-content{
    background: rgba(255,255,255,0.5);
    border-radius: 0px 0px 10px 10px !important;
}
.btn-default {
    background-color: rgb(66,139,202);
    color: #fff;

}

a {
    transition: 0.1s ease-in-out;
}