@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Przypał alert";
}

<h1 class="text-danger">Przypał!</h1>
<h2 class="text-danger">Wystąpił problem podczas przetwarzania żądania. Sprawdź czy nie próbujesz oszukać systemu.</h2>

