@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ul. Sezamkowa<br />
    Pennsylvania, PA 123<br />
    <abbr title="Phone">Tel:</abbr>
    123.123.123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:elmo@example.com">elmo123@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:oscar@example.com">oscar444@hotmail.com</a>
</address>