@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eLista</h1>
    <p class="lead"> Zaloguj się, aby potwierdzić obecność, zarządzać kontem etc.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Czas pracy</h2>
        <p>
            Zobacz ile przepracowałeś w tym tygodniu.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Zobacz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nieobecności</h2>
        <p>Sprawdź w jakie dni nie było cię w pracy.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zarządzaj Kontem</h2>
        <p>Edytuj swoje dane osobowę</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Przejdź &raquo;</a></p>
    </div>
</div>